---
layout: default
title: "Sam's Kitchen"
---
<div class="introduction">

<!--
  <h1>Hi.</h1>

<p>A personal collection of recipes.</p>
</div>

<hr>

<div class="toc">
  <h2>Recipes</h2>
  <ul class="post">
  {% for item in site.texts do %}
  
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  

</div>
-->
<div class="toc">
  <h2>Recipes</h2>
  <ul class="post">
  {% for cat in site.category-list %}
  {{ cat }}
  <ul>
    {% for page in site.texts %}
      {% if page.resource == true %}
        {% for pc in page.categories %}
          {% if pc == cat %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}   <!-- cat-match-p -->
        {% endfor %}  <!-- page-category -->
      {% endif %}   <!-- resource-p -->
    {% endfor %}  <!-- page -->
  </ul>
{% endfor %}  <!-- cat -->


