---
layout: default
title: "Sam's Kitchen"
---
<div class="introduction">

<!--
  <h1>Hi.</h1>

<p>A personal collection of recipes.</p>
</div>
-->
<hr>

<div class="toc">
  <h2>Recipes</h2>
  <ul class="post">
  {% for item in site.texts do %}
  
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  

</div>



<div class="toc">
  <h2>Sample texts</h2>
  <ul class="post">
 
  {% for item in categories do %}
      <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>  
</div>




