<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2><font color=#D4EDF7>PROJET</font> <font color=#FC600A>CONTACT</font></h2>
        </header>
        <H2> <strong><font color="#347B98">C</font>lassifier <font color="#347B98">O</font>bjectivement
        <br />
        la <font color=#347B98>N</font>ature des <font color="#347B98">T</font>roubles <font color="#347B98">A</font>ssociés
        <br />
        aux <font color="#347B98">C</font>ommotions cérébrales dans le <font color="#347B98">T</font>emps</H2>
        <br />
        <h2>supervisé par <a href="#"></a>Louis De Beaumont<br />
        mené par <a href="#"></a>Samuel Guay</h2>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
  En savoir plus  <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
</a></li>
            </ul>
        </footer>

    </div>

</section>
