<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Hello!</h2>
        </header>
        <p>My name is <strong>Rachael Johnson</strong>
        <br />
        <br /></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://www.linkedin.com/in/rachaeljohnson2" class="button fit scrolly"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
				<li><a href="https://github.com/earthshine0" class="button fit scrolly"><i class="fa fa-github"></i> GitHub</a></li>
				<li><a href="#main" class="button fit scrolly">Learn More</a></li>
            </ul>
        </footer>

    </div>

</section>