<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>SAM'S KITCHEN</h2>
        </header>
        <p>cooking from scratch <strong></strong>

    <!--    <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">See More</a></li>
            </ul>
        </footer>
    -->                              
    </div>

</section>